<template>
  <div class="vue-tempalte">
    <br />
    <br />
    <br />
    <br />
    <div class="container">
      <div
        class="right"
        style="
          background-color: white;
          font-size: 18px;
          opacity: 0.9;
          filter: alpha(opacity=50);
          font-family: Arial, Helvetica, sans-serif;">
        <!-- <form> -->
          <br />
          <h1>Sign Up</h1>
          <br>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control form-control-lg" v-model="input.email" placeholder="Email"/>
          </div>

          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control form-control-lg" v-model="input.password" placeholder="Password"/>
          </div>

          <!-- <form class="post-form" action="http://localhost:8080/"> -->
            <button
              type="submit"
              class="btn btn-primary btn-lg btn-primary" v-on:click="SignUp()">Sign Up</button>
            <!-- <router-link :to="{ name: 'home' }"> </router-link> -->
          <!-- </form> -->
          <br />
        <!-- </form> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
         input: {
                    email: "",
                    password: ""
                }
    };
  },
  methods: {
    SignUp: function () {
        let data=[{email:this.input.email,password:this.input.password}]
        let userData=JSON.parse(localStorage.getItem("userData"))
        if (userData){
            let isUserExist=userData.findIndex(item =>item.email===this.input.email)
            if (isUserExist===-1){
            userData.push(data[0])
            localStorage.setItem("userData", JSON.stringify(userData))
            }            
            else{alert("User already exist")
            }
            console.log(userData,'00000',isUserExist)
        }
        else{
            localStorage.setItem("userData", JSON.stringify(data))
        }
    },
  },
};
</script>