<template>
    <div class="vue-tempalte">
        <br>
            <br>
            <br>
            <br>
            <br>
        <div class="container">
        <div class="right" style="background-color:white;font-size:16px;opacity:0.9;filter:alpha(opacity=50); font-family: Arial, Helvetica, sans-serif;">
        <form>
<legend><u>LogIn</u></legend>
            <div class="form-group">
<label for="uemail">Email</label><br>
     <input type="email" class="form-control form-control-lg" v-model="input.email" placeholder="Email"/>
            </div>
            <div class="form-group">
<label for="password">Password</label><br>
        <input type="password" class="form-control form-control-lg" v-model="input.password" placeholder="Password"/>
            </div>
  <!-- <form  class="post-form" action="http://localhost:8080/welcome">
            <button type="submit" class="btn btn-dark btn-lg ">Sign In</button>
            <router-link :to="{name: 'welcome'}">
            </router-link>
</form> -->

<button
              type="submit"
              class="btn btn-dark btn-lg" v-on:click="SignIn()">Sign In</button>

<br>
<br>
<form  class="post-form" action="http://localhost:8080/login">
            <button type="submit" class="btn btn-primary btn-lg btn-primary">Create New Account</button>
            <router-link :to="{name: 'create'}">
            </router-link>
            </form>
<br>
<div class="rights">
            <a href="http://localhost:8080/admin">Admin!<i class=""></i></a>
             <router-link :to="{name: 'admin'}">
            </router-link>
</div>
            <br>
            <br>
            <div class="social-icons">
                <ul>
                    <li><a href="https://www.google.com/"><i class="fa fa-google"></i></a></li>
                    <li><a href="https://www.facebook.com/?stype=lo&jlou=Afeyj55cHmZ0SKzy3Y4ufGdO3f97HNpz_7q_QDTvT-VlZXxGC7X1G17BLP08CuG5p074_bvjhfn_Xdg8vrnqM1W18Fc5muBV6fV5Qux3IDJmgw&smuh=19909&lh=Ac9AySqIiZ9g9OA9I2Y"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/login?lang=en-gb"><i class="fa fa-twitter"></i></a></li>
                </ul>
                <br>
            </div>

        </form>
        </div>
    </div>
    </div>
</template>

  <script>
  import Vue from 'vue'
  import VueRouter from 'vue-router'

  Vue.use(VueRouter)

export default {
  data() {
    return {
         input: {
                    email: "",
                    password: ""
                }
    };
  },
  methods: {
    SignIn: function () {
        // let data=[{email:this.input.email,password:this.input.password}]
        let userData=JSON.parse(localStorage.getItem("userData"))
        if (userData){
            let isUserExist=userData.filter(item =>item.email===this.input.email && item.password===this.input.password)
            if (isUserExist!==-1){
      this.$router.push('//welcome');
            }            
            else{alert("Email or Password is not correct")
            }
            console.log(userData,'00000',isUserExist)
        }
        else{
           alert("Please create an account")
        }
    },
  },
};
</script>