       <template>
    <div class="connection">  
        <br>
            <br>
            <br>
            <br>
            <br>
        <div class="container">
        <div class="right" style="background-color:white;font-size:13px;opacity:1.0;filter:alpha(opacity=50); font-family: Arial, Helvetica, sans-serif;">
<center> <h3>Login was completely successfully</h3></center>
            
            <br>
            <br>
            <br><br>
            <br>
            <center>
  <form  class="post-form" action="http://localhost:8080/">
            <button type="submit" class="btn btn-dark btn-lg ">Log Out</button>
            <router-link :to="{name: 'home'}">
            </router-link>
            </form>
            </center>
<br>
        </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {}
        }
    }
</script>